<!-- show.html.erb -->


<div class="show_back">
	<header>
		WE LOVE MUSIC
	</header>
	<div class="details">
<h3> Concert Details </h3>
<h2><%= @my_concert.artist %></h2>

<br>
<b>Venue:</b>
<br>
--<%= @my_concert.venue %>
<br>
<b>City:</b>
<br>
--<%= @my_concert.city %>
<br>
<b>Description:</b>
<br>
--<%= @my_concert.description %>
<br>
<b>Date/Time:</b>
<br>
--<%= @my_concert.date %>
<br>
<b>Price:</b>
<br>
--<%= @my_concert.price %>
</div>
<!-- <a href="/concerts/<%= @my_concert.id%>/time_entries">
	See Time Entry
</a> -->


<form action="/concerts/<%= @my_concert.id %>/comments/" method="POST"> Comment:
  <div>
    <label for="name">Name</label>
    <input type="text" name="[comment]name" required >
  </div>
  <div>
    <label for="email">Email</label>
    <input type="text" name="[comment]email" required >
  </div>

  <div>
    <label for="comments">Comments</label>
    <textarea  name="[comment]comments" required></textarea>
  </div>

  <button type="submit">Submit Comment</button>
  <input type="hidden" name="authenticity_token"
      value="<%= form_authenticity_token %>">


<ul> Comments:
	<% @my_comments.each do |x| %>
	<li>
		<%= x.comments %>
		</li>
		<% end %>
	</ul>


</form>

<br>
<a href="/concerts">
	See All Concerts
</a>
<footer>
		Rocking with Rails!
	</footer>
</div>

